@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    min-height: 150px;
    background-color: white;
    position: fixed;
}

.headerbox{
    max-width: 960px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #3A6899;
}
.logocontainer{
    float: left;
}
.logocontainer img{
    width:100%
}

.mainnav{
    width: 500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.mainnav a{
    float: left;
    padding: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #3A6899;
}

.headerbox a:hover{
    color:black;
}

.secondnav{
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.secondnav a{
    float: left;
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    color: #3A6889;
    font-size: 0.9em;
}

main{
    padding-top:410px;
}

main img{
    width: 100%;
    height: auto;
}

.mainbox{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.mainbox a {
    text-decoration: none;
}
section{
    width: 283px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

section img{
    width: 283px;
}

section p{
    color: #3A6899;
    text-align: center;
    font-weight: 900; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #3a6899;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #3a6899;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 100px;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
     float: right;
    padding-top: 15px
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.clearfix{
    clear: both;
}

footer{
    height: 70px;
}

.footerbox{
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    height:70px;
    border-top: 1px solid black;
    text-align: center;
}

.footerbox img{
    width: 50px;
    margin-top: 10px;
}

/* Small devices(landscape phones, 576px and up) */
@media(min-width:576px){

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
      .logocontainer img{
        width:300px;
    }      
    .mainnav{
        width: 100%;
        padding-top: 60px;
    }
     .secondnav{
        width: 100%
    }
    
    .secondnav a:first-child{
        padding-left:65px;
    }
    
    section{
        float:left;
        margin-left:65px;
    }
    main{
        padding-top: 200px;
    }
    

}
/* large devices(desktops, 992px and up) */
@media (min-width: 992px){

    .logocontainer img{
        width: 210px;
        margin-top: 10px;
    }
     .mainnav a:first-child{
        padding-left:160px;
    }
     .secondnav a:first-child{
        padding-left: 208px;
    }
    section{
        margin-left: 130px;
    }
    main{
        padding-top: 150px;
    }
}
/*extra large devices (large desktop, 1200px and up) */
/*
@media (min-width:1200px){
        .mainnav {
        width: 100%;
    }       
}        
*/